<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>国内疫情数据</title>
    <link rel="stylesheet" th:href="@{/bootstrap.css}">
</head>
<body>
<div align="center" style="width: 800px;height: auto;margin: 0 auto">
    <div>
        <h3>国内疫情图表数据</h3>
        <a th:href="@{/graphLine}">全国现有确诊趋势</a><br>
        <a th:href="@{/addgraph}">全国疫情新增趋势</a><br>
        <a th:href="@{/totalgraph}">全国疫情累计趋势</a><br>
        <a th:href="@{/healanddeadrate}">治愈率、死亡率</a><br>
        <a th:href="@{/nowconfirmpie}">全国现有现有确诊构成</a><br>
        <a th:href="@{/importgraph}">境外输入省市TOP10</a><br>
        <a th:href="@{/importaddgraph}">境外输入新增趋势</a><br>
        <a th:href="@{/totalImportGraph}">境外输入累计趋势</a><br>
    </div>
    <h2>国内疫情数据</h2>
    <!--<p>最后更新时间:<span th:text="${lastUpdateTime}">lastUpdateTime</span></p>-->

    <table class="table table-hover">
        <thead>
            <tr>
                <th>地区</th>
                <th>现有确诊</th>
                <th>累计确诊</th>
                <th>治愈</th>
                <th>死亡</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="data:${dataList}">
                <td th:text="${data.area}">area</td>
                <td th:text="${data.nowConfirm}">nowConfirm</td>
                <td th:text="${data.confirm}">confirm</td>
                <td th:text="${data.heal}">heal</td>
                <td th:text="${data.dead}">dead</td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>